body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  font-size: 17px;
}
h1 {
  font-family: Audiowide, cursive;
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 24;
  background-color: lightskyblue;
  border-radius: 5px;
}

h1,
h2,
a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#link2 {
  color: white;
}
#link2:hover {
  color: darkblue;
  text-decoration: underline;
}

a.link {
  color: lightskyblue;
}

a.link:hover {
  color: darkblue;
  text-decoration: underline;
}

#copyright {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: darkslategray;
}

span.material-icons {
  font-size: 1rem;
  vertical-align: middle;
}

span.material-icons,
p {
  line-height: 1.5rem;
}

a.btn {
  font-size: 1.3rem;
}
a.btn:hover {
  color: white;
  background-color: darkblue;
  text-decoration: none;
}

#social {
  text-decoration: white;
  text-align: center;
  font-size: 2rem;
}

i.fa-facebook-square {
  color: navy;
}

i.fa-twitter-square {
  color: dodgerblue;
}
i.fa-linkedin {
  color: navy;
}
@media print {
  body,
  h1 {
    color: black;
    font-family: Times, serif;
  }
  #elon {
    text-align: left;
  }

  h2 {
    background-color: unset;
  }
  a.link {
    color: white;
  }
  a.topo {
    color: white;
  }
}
